:root {
	/* 
   Color:
      - White: hsl(0, 0%, 100%)
      - Light gray: hsl(212, 45%, 89%)
      - Grayish blue: hsl(220, 15%, 55%)
      - Dark blue: hsl(218, 44%, 22%)
   Font:
      - Font size (paragraph): 15px
      - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
      - Weights: 400, 700
   */

	--color-white: hsl(0, 0%, 100%);
	--color-lightGray: hsl(212, 45%, 89%);
	--color-grayishBlue: hsl(220, 15%, 55%);
	--color-darkBlue: hsl(218, 44%, 22%);
	--fontSize-paragraph: 0.9375rem; /*15px*/
	--font-family: "Outfit", sans-serif;
	--fontWeight-light: 400;
	--fontWeight-heavy: 700;
}

body {
	box-sizing: border-box;
	margin: 0;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--color-lightGray);
	font-family: var(--font-family);
}

main {
	width: 300px;
	max-width: 450px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	background-color: var(--color-white);
	border-radius: 20px;
	padding: 1em;
}

img {
	height: 300px;
	max-width: 100%;
	border-radius: 20px;
}

/* Typography */
main h1 {
	color: var(--color-darkBlue);
	font-weight: var(--fontWeight-heavy);
	font-size: 24px; /*H2 size*/
}

main p {
	margin: 0px; /*Quick fix for spacing */
	color: var(--color-grayishBlue);
	font-size: var(--fontSize-paragraph);
	font-weight: var(--fontWeight-light);

	margin-bottom: 1em;
}

/* Credits footer */
#credits {
	position: absolute;
	bottom: 0;

	width: 100%;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fdfdfd;
	color: #1f1f1f;
}
